
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background :#0e0e0e;
  animation: fade 0.75s;
}

@keyframes fade{
  from {opacity: 0;}
  to {opacity: 1;}
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.headerContainer{
  padding: 300px 0;
  background-size: cover;
}
.headerText{
  font-size: 10.5vmin;
  color: #FFF;
  padding: 0 ;
  text-shadow: 1.5px 1px 0 #333,
      0px 0px 0 #333,
      0px 0px 0 #333,
      0px 0px 0 #333,
      1px 1px 5px rgba(0,0,0,0.5);
}
.logo img{
  width: 210px;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
}
.nav-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu{
  display: flex;
  padding: 0;

}

.menu li{
  list-style: none;
  margin: 0 0 0 20px;
}

img{
  max-width: 100%;
  object-fit: cover;
}
input, button{
  font-family: 'Poppins', sans-serif;
  outline: none;
}

button{
  cursor: pointer;
  
}