@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
  font-family: 'Poppins', sans-serif; 
}

select, button, input, option{
  outline: none;
  cursor: pointer;
}
body{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background :#0e0e0e;
  color: #FFF;
  
}

html{
  scroll-behavior: smooth;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.headerContainer{
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
  height: 100vh;
 
}
.pageNav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

}
.wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerText{
  font-size: 9vmin;
  color: #FFF;
  padding: 0 ;

  text-shadow: 1.5px 1px 0 #333,
      0px 0px 0 #333,
      0px 0px 0 #333,
      0px 0px 0 #333,
      1px 1px 5px rgba(0,0,0,0.5);
}
.logo img{
  width: 210px;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 100;
}
.nav-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu{
  display: flex;
  padding: 0;

}

.menu li{
  list-style: none;
  font-size: 1.05rem;
  margin: 0 0 0 25px;
}

ul li{
  list-style: none;
  font-size: 1.29rem;
  line-height: 2.5;
  font-weight: 200;
}
ul{
  padding: 0;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.25s;
}

.text-shadow{
  text-shadow: 1.2px 1px 0 #333,
      0px 0px 0 #333,
      0px 0px 0 #333,
      0px 0px 0 #333,
      1px 1px 5px rgba(0,0,0,0.5);
}

.loader {
  border: 10px solid transparent;
  border-radius: 50%;
  border-top: 10px solid #248dd3;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s ease-out infinite; /* Safari */
  animation: spin 1s ease-out infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* width */
::-webkit-scrollbar {
  width: 9px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #777; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  
}